.home-header h1 {
  color: #3cb371;
  font-size: 2rem;
  font-family: "Courier", "Roboto Mono", monospace;
}

.name {
  color: #fff;
  font-size: 5rem;
  margin-bottom: rem;
}

.home-header p {
  color: #ccc;
  font-size: 1.5rem;
  line-height: 1.8;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: left;
  max-width: 40rem;
  margin: 0 0;
}

.subheading {
  color: #eee;
  font-size: 3rem;
}
